body {
    text-align: center;
    font-family: 'Signika', sans-serif;
}

h1 {
    font-family: 'Signika', sans-serif;
    font-size: 50px;
}

.container {
    background-color: gainsboro;
    padding-bottom: 20px;
}

.jumbotron {
    border: solid 1px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
}

.answers {
    text-align: left;
    padding-left: 60px;
}

#head {
    background-color: floralwhite;
    padding-bottom: 10px;
    padding-top: 10px;
}